@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  overflow: -moz-scrollbars-vertical;
}

body {
  max-width: 1000px;
  height: 100vh;
  background-image: url(/doodlebackground.png);
  background-repeat: repeat;
  background-color: white;
  background-size: auto;
  margin: auto;
}


.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.dead-center {
  @apply flex justify-center items-center;
}

#root {
  height: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: rotate 1s linear infinite;
  margin: 50px auto;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  /* Light blue background color */
  backdrop-filter: blur(4px);
}

.popup-container {
  background-color: #add8e6;
  /* Light blue background color */
  padding: 30px;
  /* Increased padding for a larger box */
  border-radius: 12px;
  /* Larger border-radius for rounded corners */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  text-align: center;
  position: relative;
  z-index: 2;
  animation: fadeIn 0.5s ease-in-out;
  /* Example fade-in animation */
  width: 300px;
  /* Adjust the width as per your design */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}